.advantages {

  &__slogan {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;

    color: @midnight;
  }

  &__content {
    background-color: @white-smoke;
  }

  &__content::after {
    content: "";
    display: block;
    height: 320px;
    background: url("../img/iphone-screen-red.png") no-repeat center;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    color: @black;
  }

  &__description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    color: @midnight;
  }
}
