.app-download {
  position: relative;
  padding: 0;
  background-color: @blue-charcoal;

  &::before {
    content: "";
    display: block;
    height: 462px;

    background: url(../img/mobile-hand-iphone.png) no-repeat bottom,
                url(../img/back-mobile.jpg) no-repeat center;
  }
}

.app-download__slogan {
  position: absolute;
  top: 90px;
  left: 35px;

  width: 250px;
  height: 47px;
  margin: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: @white;
}

.app-download__list-wrapper {
  padding: 30px 20px 32px;
}

.app-download__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 204px;
  margin: 0 38px;
  padding: 32px 0 18px;
  .list-markers-off;
}

.app-download__button {
  display: block;
  width: 280px;
  padding: 14px 35px;
  font-size: 18px;
  color: @white;
}

.app-download__description {
  margin: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: @white;
}

@media (min-width: @tablet-width) {
  .app-download {
    min-width: 660px;
    height: 729px;
    background-image: url("../../img/back-tablet.jpg");

    &::before {
      content: "";
      position: absolute;
      top: 185px;
      right: 0;

      display: block;
      width: 660px;
      height: 545px;

      background-image: url(../../img/tablet-hand-iphone.png);
    }
  }

  .app-download__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 320px;
    height: 100%;
    padding: 204px 0 0;
  }

  .app-download__slogan {
    position: relative;
    top: 0;
    left: 0;

    width: auto;
    margin: 0 30px 0 50px;
    font-size: 40px;
    line-height: 120%;
  }

  .app-download__list-wrapper {
    z-index: 1;
    height: 390px;
    margin: 0;
    padding: 39px 0 0 20px;
  }

  .app-download__button {
    width: 300px;
    font-size: 18px;
  }

  .app-download__list {
    margin: 0 0 30px 45px;
    padding: 46px 0 0;
  }

  .app-download__description {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {

  .app-download {
    min-width: 1200px;
    height: 853px;
    background-image: url("../../img/back-desktop.jpg");

    &::before {
      top: 208px;
      right: 4px;

      width: 1050px;
      height: 645px;

      background-image: url(../../img/desktop-hand-iphone.png);
    }
  }

  .app-download__container {
    width: 50%;
    height: 100%;
    padding: 208px 110px 0;
  }

  .app-download__slogan {
    width: 300px;
    margin: 0 150px 0 110px;
    font-size: 50px;
    line-height: 68px;
  }

  .app-download__list-wrapper {
    z-index: 1;
    height: 404px;
    margin: 0;
    padding: 0 0 0 20px;
  }

  .app-download__button {
    width: 300px;
    margin: 0 0 20px 0;
    padding: 16px 25px;
    font-size: 21px;
  }

  .app-download__list {
    margin: 0 0 50px 48px;
    padding: 46px 0 0;
  }

  .app-download__description {
    margin: 0 56px 0 0;
    font-size: 18px;
  }
}
