.footer {
  display: flex;
  flex-direction: column;
  width: 320px;

  font-family: @font-family;

  background-color: @white;

  &__logo-link {
    margin: 0 0 38px 0;
  }

  &__social {
    width: 180px;
    margin: 0 auto 38px;
  }

  &__developer {
    width: 130px;
    margin: 0 auto 40px;
  }
}

