.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  // display: flex;
  // justify-content: space-between;
  width: 320px;
  height: 69px;
  padding: 21px 20px;

  font-family: @font-family;

  background-color: rgb(@black, 0.3);



  &__logo {
    position: absolute;
    display: block;
  }
}
