.reviews {
  padding: 50px 0 60px;
}

.reviews__slide {
  margin: 0;
  padding: 0 20px;
}

.reviews__slider-list {
  margin-bottom: 41px;
}

.reviews__author {
  margin: 0 0 31px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: @black;
}

.reviews__quote {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: @midnight;
}

.reviews__slider {
  overflow: hidden;
}

.reviews__slider-list {
  display: flex;
  width: 300%;
  transition: transform 1s ease;
}

.reviews__slider-input {
  display: none;
}

.reviews__slider-toggles {
  display: flex;
  width: 56px;
  margin: 0 auto;
  justify-content: space-between;
}

.reviews__slider-toggle {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgb(@midnight, 0.3);
  cursor: pointer;
}

#button-1:checked ~ .reviews__slider-list {
  transform: translate(0);
}
#button-2:checked ~ .reviews__slider-list {
  transform: translate(-33%);
}
#button-3:checked ~ .reviews__slider-list {
  transform: translate(-66%);
}
